<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>AuthenticateFilter</filter-name>
  	<display-name>AuthenticateFilter</display-name>
  	<description></description>
  	<filter-class>com.dxc.filter.AuthenticateFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AuthenticateFilter</filter-name>
  	<url-pattern>/AccountDetailServlet</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.dxc.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AccountDetailServlet</servlet-name>
  	<display-name>AccountDetailServlet</display-name>
  	<description></description>
  	<servlet-class>com.dxc.servlet.AccountDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AccountDetailServlet</servlet-name>
  	<url-pattern>/AccountDetailServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list><welcome-file>index.html</welcome-file></welcome-file-list>
</web-app>
